@import 'common';
.top-info{
    position: relative;
    width:100%;
    padding-bottom:.15rem;
    .bg{
        position: absolute;
        width: 100%;
        height:100%;
        z-index: -2;
    }
  
    .top-tips{
        width:100%;
        display:flex;
        background:rgba(255, 255, 255, .6);
        align-items:center;
        justify-content: center;
        color:#606060;
        padding:.1rem 0;
        .label{
            font-size:.13rem;
        }
        .text{
            font-size:.12rem;
        }
    }
}
.user-info{
    padding:.15rem 0;
    padding-left:.28rem;
}
.head{
    width:pxtorem(112);
    height:pxtorem(112);
    background:#fff;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    padding:.02rem;
    box-shadow: 2px 0px 5px 0px #9c9798;
    img{
        display: block;
        width:100%;
    }
}
.user-name{
    display: inline-block;
    vertical-align: middle;
    font-weight:bold;
    font-size:.16rem;
    color:#666;
    margin-left:.08rem;
}
.top-content{
    padding:0 .2rem;
    display: flex;
    align-items:flex-end;
    .left-content{
        flex: 1.0;
        height:100%;
        .bottom-tips{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            color: #fff;
            font-size:.14rem;
            @include setBg(408,63,'../images/user_info_bottom_text.png');
            margin:0;
            line-height:28px;
        }
    }
    .right-content{
        width:100px;
        height:100%;
        display: block;
        .min-logo{
            width:100%;
            @include setBg(87,87,'../images/min_logo.png');
            margin: 0 auto;
            margin-bottom:.10rem;
        }
        .pay-print-btn{
            width:100%;
            @include setBg(187,56,'../images/pay_print_btn.png');
            margin: 0 auto;
            background-size:100% 100%;
            color: #ef4a63;
            text-decoration: none;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: .12rem;
        }
    }
}
.right-content-inner{
    display:flex;
    height:100%;
    width:100%;
    flex-direction: column;
    justify-content: flex-end;
}
/*下面广告内容*/
.content-tips{
    padding:.15rem;
    text-align:left;
    border-bottom:1px solid #ECECEC;
    background:#FAFAFA;
    span{
        color:#666;
    }
}
.ad-list-content{
    .list{
        display:flex;
        // height:.8rem;
        padding:.20rem .2rem;
        padding-bottom:.27rem;
        background:#FAFAFA url(../images/ad_list_bg.png) no-repeat bottom center;
        background-size:100%;
        .left{
            flex:1.0;
            display:flex;
            justify-content: flex-start;
            align-items: center;
            .app-icon{
                width:pxtorem(112);
                height:pxtorem(112);
                img{
                    width:100%;
                    height:100%;
                    display:block;
                }
            }
            
        }
        .middle{
            flex:3.0;
            padding:0 .1rem;
            display:flex;
            justify-content: center;
            flex-direction: column;
            .name{
                font-weight:bold;
                font-size:.16rem;
                margin-bottom:.1rem;
                color:#666;
                padding-left:.1rem;
            }
            .desc{
                padding:.1rem .05rem;
                color:#787878;
                background:url(../images/desc_bg.png) no-repeat center center;
                background-size:100% 100%;
                padding-left:.1rem;
            }
        }
        .right{
            flex:1.0;
            display:flex;
            align-items: flex-end;
            justify-content: center;
            flex-direction: column;
            .fingerprint-btn{
                display:block;
                width:pxtorem(104);
                height:pxtorem(104);
                background:url(../images/fingerprint_icon.png) no-repeat center center;
                background-size:100%;
                margin-bottom:pxtorem(15);
                img{
                    display:block;
                    width:100%;
                    height:100%;
                    opacity:0;
                }
                &:hover,&:active{
                    img{
                        opacity: 1;
                    }
                }
            }
            p{
                width:pxtorem(104);
                text-align:center;
                color:#787878;
            }
        }
    }
}
/*iphone5*/
@media screen and (max-width: 320px) {
    .top-content .left-content .bottom-tips{
        font-size: .12rem;
    }
    .top-info .top-tips .label{
        font-size:.11rem;
    }
    .top-info .top-tips .text{
        font-size:.10rem;
    }
}
/*iphone6*/
@media screen and (max-width: 375px) {
    .top-content .left-content .bottom-tips{
        font-size: .12rem;
    }
    .top-info .top-tips .label{
        font-size:.11rem;
    }
    .top-info .top-tips .text{
        font-size:.10rem;
    }
}