@import 'common';
.top-info{
    position: relative;
    width:100%;
    min-height:pxtorem(323);
    background:url(../images/free_top_bg.png) center center no-repeat;
    background-size: 100% 100%;
    .bg{
        position: absolute;
        width: 100%;
        height:100%;
        z-index: -2;
    }
  
    .top-tips{
        width:100%;
        display:flex;
        background:rgba(255, 255, 255, .6);
        align-items:center;
        justify-content: center;
        color:#606060;
        padding:pxtorem(20) 0;
        .label{
            font-size:12px;
            @extend %inline-block;
        }
        .text{
            font-size:10px;
            @extend %inline-block;
        }
    }
}
.user-info{
    margin-bottom:pxtorem(19);
    padding-left:pxtorem(40);
}
.head{
    width:pxtorem(112);
    height:pxtorem(112);
    background:#fff;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    padding:.02rem;
    box-shadow: 2px 0px 5px 0px #9c9798;
    margin-right:pxtorem(10);
    border-radius: 50%;
    overflow: hidden;
    img{
        display: block;
        width:100%;
    }
}
.user-name{
    display: inline-block;
    vertical-align: middle;
    font-weight:bold;
    font-size:16px;
    color:#666;
    margin-left:.08rem;
}
.top-content{
    padding:0 pxtorem(40) 0 pxtorem(45);
    display: flex;
    align-items:flex-end;
    .left-content{
        width:pxtorem(440);
        margin-top:pxtorem(27);
        .bottom-tips{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            color: #fff;
            font-size:pxtorem(26);
            @include setBg(408,63,'../images/user_info_bottom_text.png');
            margin:0;
            line-height:28px;
        }
    }
    .right-content{
        width: pxtorem(195);
        height:100%;
        display: block;
        flex:1.0;
        .min-logo{
            width:100%;
            @include setBg(87,87,'../images/min_logo.png');
            margin: 0 auto;
            margin-bottom:pxtorem(14);
        }
        .pay-print-btn{
            @include setBg(187,56,'../images/pay_print_btn.png');
            width:100%;
            line-height:pxtorem(56);
            margin: 0 auto;
            background-size:100% 100%;
            color: #ef4a63;
            text-decoration: none;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 12px;
        }
    }
}
.right-content-inner{
    display:flex;
    height:100%;
    width:100%;
    flex-direction: column;
    justify-content: flex-end;
}
/*下面广告内容*/
.content-tips{
    padding:pxtorem(34) pxtorem(45);
    text-align:left;
    border-bottom:1px solid #ECECEC;
    background:#FAFAFA;
    font-size:12px;
    span{
        color:#666;
    }
}
.ad-list-content{
    .list{
        display:flex;
        // height:.8rem;
        padding:pxtorem(44) pxtorem(45);
        padding-bottom:pxtorem(44);
        background:#FAFAFA url(../images/ad_list_bg.png) no-repeat bottom center;
        background-size:100%;
        .left{
            flex:1.0;
            display:flex;
            justify-content: flex-start;
            align-items: center;
            .app-icon{
                width:pxtorem(112);
                height:pxtorem(112);
                img{
                    width:100%;
                    height:100%;
                    display:block;
                }
            }
            
        }
        .middle{
            flex:3.0;
            padding:0 .1rem;
            display:flex;
            justify-content: center;
            flex-direction: column;
            .name{
                font-weight:bold;
                font-size:15px;
                margin-bottom:pxtorem(20);
                color:#666;
                padding-left:.1rem;
            }
            .desc{
                padding: pxtorem(12) pxtorem(25) pxtorem(10);
                min-height:pxtorem(30);
                font-size:13px;
                color:#787878;
                background:url(../images/desc_bg.png) no-repeat center center;
                background-size:100% 100%;
            }
        }
        .right{
            flex:1.0;
            display:flex;
            align-items: flex-end;
            justify-content: center;
            flex-direction: column;
            position: relative;
            .fingerprint-btn{
                border:none;
                display:block;
                width:pxtorem(104);
                height:pxtorem(104);
                background:url(../images/fingerprint_icon.png) no-repeat center center;
                background-size:100%;
                margin-bottom:pxtorem(15);
                img{
                    display:block;
                    width:100%;
                    height:100%;
                    opacity:0;
                }
                // &:hover,&:active{
                //     img{
                //         opacity: 1;
                //     }
                // }
            }
            p{
                width:pxtorem(104);
                text-align:center;
                color:#787878;
                font-size:12px;
            }
        }
    }
}
.progress-bar-wrap{
    position: absolute;
    top:-20px;
    left:-20px;
    right:-20px;
    display:none;
    img{
        width:80%;
        display:block;
        margin:auto;
    }
}
/*iphone5*/
@media screen and (max-width: 320px) {
   
    .top-info .top-tips{
        line-height:normal;
    }
    .top-content .right-content .pay-print-btn{
        font-size:pxtorem(18);
    }
}
/*iphone6*/
@media screen and (max-width: 375px) {
  /*   .top-content .left-content .bottom-tips{
        font-size: .12rem;
    }
    .top-info .top-tips .label{
        font-size:.11rem;
    }
    .top-info .top-tips .text{
        font-size:.10rem;
    } */
}