.clearfix:after {
  display: block;
  content: "";
  clear: both;
  visibility: hidden;
}

body {
  background: url(../images/print_bg.png) top center fixed;
  background-size: 100%;
  min-height: 100%;
}

.ad-list {
  padding: .2rem .22rem 0 .22rem;
}

.ad-list img {
  display: block;
  margin: auto;
  width: 100%;
  margin-bottom: 0.665rem;
}

.print-btn {
  width: 1.8375rem;
  height: 0.385rem;
  display: block;
  margin: auto;
  background: url(../images/print_btn.png) no-repeat center center;
  background-size: 100%;
  margin-bottom: 0.93333rem;
  box-shadow: 0px 4px 12px 1px #d4c5c9;
  border-radius: .3rem;
}

.arrows {
  width: 0.35583rem;
  height: 0.25667rem;
  margin: auto;
  background: url(../images/arrows_down_icon.png) no-repeat center center;
  background-size: 100%;
  margin-bottom: 0.12833rem;
}

.tips-text {
  width: 2.08833rem;
  height: 0.41417rem;
  margin: auto;
  background: url(../images/print_tips_text.png) no-repeat center center;
  background-size: 100%;
  margin-bottom: 0.29167rem;
}

.line {
  width: 2.64833rem;
  height: 0.0175rem;
  margin: auto;
  background: url(../images/line_bg.png) no-repeat center center;
  background-size: 100%;
  margin-bottom: 0.175rem;
}

.issue {
  text-align: center;
  margin-bottom: 0.29167rem;
}

.issue a {
  font-size: .14rem;
  color: #fa5f80;
  text-decoration: none;
}
