@charset "UTF-8";
.clearfix:after {
  display: block;
  content: "";
  clear: both;
  visibility: hidden;
}

.top-info {
  position: relative;
  width: 100%;
  padding-bottom: .15rem;
}
.top-info .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.top-info .top-tips {
  width: 100%;
  display: flex;
  background: rgba(255, 255, 255, 0.6);
  align-items: center;
  justify-content: center;
  color: #606060;
  padding: .1rem 0;
}
.top-info .top-tips .label {
  font-size: .13rem;
}
.top-info .top-tips .text {
  font-size: .12rem;
}

.user-info {
  padding: .15rem 0;
  padding-left: .28rem;
}

.head {
  width: 0.65333rem;
  height: 0.65333rem;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  padding: .02rem;
  box-shadow: 2px 0px 5px 0px #9c9798;
}
.head img {
  display: block;
  width: 100%;
}

.user-name {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  font-size: .16rem;
  color: #666;
}

.top-content {
  padding: 0 .2rem;
  display: flex;
}
.top-content .left-content {
  flex: 1.0;
}
.top-content .left-content .bottom-tips {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
  font-size: .14rem;
  max-width: 2.38rem;
  height: 0.3675rem;
  margin: auto;
  background: url("../images/user_info_bottom_text.png") no-repeat center center;
  background-size: 100%;
  margin: 0;
}
.top-content .right-content {
  width: 100px;
  display: block;
}
.top-content .right-content .min-logo {
  width: 100%;
  max-width: 0.5075rem;
  height: 0.5075rem;
  margin: auto;
  background: url("../images/min_logo.png") no-repeat center center;
  background-size: 100%;
  margin: 0 auto;
  margin-bottom: .10rem;
}
.top-content .right-content .pay-print-btn {
  width: 100%;
  display: block;
  max-width: 1.09083rem;
  height: 0.32667rem;
  margin: auto;
  background: url("../images/pay_print_btn.png") no-repeat center center;
  background-size: 100%;
  margin: 0 auto;
}

.right-content-inner {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
}

/*下面广告内容*/
.content-tips {
  padding: .15rem;
  text-align: left;
  border-bottom: 1px solid #ECECEC;
  background: #FAFAFA;
}
.content-tips span {
  color: #666;
}

.ad-list-content .list {
  display: flex;
  padding: .20rem .2rem;
  padding-bottom: .27rem;
  background: #FAFAFA url(../images/ad_list_bg.png) no-repeat bottom center;
  background-size: 100%;
}
.ad-list-content .list .left {
  flex: 1.0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ad-list-content .list .left .app-icon {
  width: 0.65333rem;
  height: 0.65333rem;
}
.ad-list-content .list .left .app-icon img {
  width: 100%;
  height: 100%;
  display: block;
}
.ad-list-content .list .middle {
  flex: 3.0;
  padding: 0 .1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.ad-list-content .list .middle .name {
  font-weight: bold;
  font-size: .16rem;
  margin-bottom: .1rem;
  color: #666;
  padding-left: .1rem;
}
.ad-list-content .list .middle .desc {
  padding: .1rem .05rem;
  color: #787878;
  background: url(../images/desc_bg.png) no-repeat center center;
  background-size: 100% 100%;
  padding-left: .1rem;
}
.ad-list-content .list .right {
  flex: 1.0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
.ad-list-content .list .right .fingerprint-btn {
  display: block;
  width: 0.60667rem;
  height: 0.60667rem;
  background: url(../images/fingerprint_icon.png) no-repeat center center;
  background-size: 100%;
  margin-bottom: 0.0875rem;
}
.ad-list-content .list .right .fingerprint-btn img {
  display: block;
  width: 100%;
  height: 100%;
}
.ad-list-content .list .right p {
  width: 0.60667rem;
  text-align: center;
  color: #787878;
}

/*iphone5*/
@media screen and (max-width: 320px) {
  .top-content .left-content .bottom-tips {
    font-size: .12rem;
  }

  .top-info .top-tips .label {
    font-size: .11rem;
  }

  .top-info .top-tips .text {
    font-size: .10rem;
  }
}
/*iphone5*/
@media screen and (max-width: 375px) {
  .top-content .left-content .bottom-tips {
    font-size: .12rem;
  }

  .top-info .top-tips .label {
    font-size: .11rem;
  }

  .top-info .top-tips .text {
    font-size: .10rem;
  }
}
