$baseWidth:72; //设计稿宽度
@function pxtorem($px){ //
    @return ($px/$baseWidth) * 1rem;
}
@mixin setBg($w,$h,$url){
    width:pxtorem($w);
    height:pxtorem($h);
    margin: auto;
    background: url($url) no-repeat center center;
    background-size: 100%;
}
.clearfix{
    &:after{
        display: block;
        content:"";
        clear: both;
        visibility: hidden;
    }
}
%inline-block{
    display:inline-block;
    vertical-align: middle;
}